body
{
    background-color: lightsalmon;
}

#score
{
    font-size: 36;
  margin-left: 20px;
  font-weight: bolder;
}

#timer
{
  font-size:36 ;
  float: right;
  margin-right: 95px;
  font-weight: bold;

}

#drawn
{
  color:blue;
  
}

canvas {
  border: 5px solid white;
  border-radius: 20px;
  animation-name: example;
  animation-duration: 4s;
  margin-top: 50px;
  animation-iteration-count: infinite;